<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Brand zip" />
<meta name="keywords"  content="Brand zip" />
<meta name="author" content="Brand zip" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- 호환성 버튼 없애는 코드 -->
<meta http-equiv="Page-exit" content="BlendTrans(Duration=0.3)">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="" href="/css/style.css" />

<title>Admin</title>
</head>


<body>

<div class="header">
	<div class="header_logo">Admin</div>
	<div class="header_bt" onclick="location.href='/'">Logout</div>
	<div class="clear"></div>
</div>

<div class="sidebar">

	<div class="sidebar_t">Content Management</div>
	<div class="sidebar_m<%= now_loc=='user'?'_s':''%>"><a href="/user" title="회원 정보">Member Management</a></div>
    <div class="sidebar_m<%= now_loc=='group'?'_s':''%>"><a href="/group" title="그룹 관리">Group Management</a></div>
    <div class="sidebar_m<%= now_loc=='idol'?'_s':''%>"><a href="/idol" title="아이돌 관리">Idol Management</a></div>
    <div class="sidebar_m<%= now_loc=='manager'?'_s':''%>"><a href="/manager" title="매니저 관리">Manager Management</a></div>
    <div class="sidebar_m<%= now_loc=='producer'?'_s':''%>"><a href="/producer" title="프로듀서 관리">Producer Management</a></div>
    <div class="sidebar_m<%= now_loc=='mail'?'_s':''%>"><a href="/mail" title="메일 관리">Mail Management</a></div>

    <div class="sidebar_t">Table Management</div>
    <div class="sidebar_m<%= now_loc=='schedule'?'_s':''%>"><a href="/schedule" title="일정 관리">Schedule</a></div>
    <div class="sidebar_m<%= now_loc=='mission'?'_s':''%>"><a href="/mission" title="미션 관리">Mission</a></div>
    <div class="sidebar_m<%= now_loc=='mission_type'?'_s':''%>"><a href="/mission_type" title="미션 타입">Mission Type</a></div>

    <div class="sidebar_m<%= now_loc=='npc'?'_s':''%>"><a href="/npc" title="NPC 정보">NPC</a></div>
    <div class="sidebar_m<%= now_loc=='exp'?'_s':''%>"><a href="/exp" title="경험치 정보">EXP</a></div>

    <div class="sidebar_m<%= now_loc=='item'?'_s':''%>"><a href="/item" title="아이템 정보">Item</a></div>

    <div class="sidebar_m<%= now_loc=='csv'?'_s':''%>"><a href="/csv" title="엑셀 파일 데이터 일괄 등록">Excel Insert</a></div>


	<div class="sidebar_t">System Management</div>
    <div class="sidebar_m"><a href="/admin" title="관리자 계정 관리">Admin Account Management</a></div>



</div><!--sidebar END-->
<div class="rarea">
