<%- include('./layouts/header') %>

<script>
    function showAdminForm(){
        $("div#bk_bg").show();
        $("div#form_admin").show();
    }

    function shutAdminForm(){
        $("div#bk_bg").hide();
        $("div#form_admin").hide();
    }

    function goAdminForm(){

        // form to json
        var formData= $('form[name=form_admin]').serializeArray();
        var object = {};
        for (var i = 0; i <formData.length; i++){
            object[formData[i]['name']] =formData[i]['value'];
        }
        var json = JSON.stringify(object);

        // submit data
        $.ajax({
        url: "/admin",
        type: "POST",
        dataType: "json",
        data: json,
        contentType: "application/json; charset=UTF-8",
        complete: function(xhr, textStatus) {

            console.log(xhr.responseText);

	        if(xhr.responseText == "Insert admin Successfully"){
                alert('어드민 계정이 생성되었습니다');
                location.reload();
            }

        }
    });



    }
</script>

<div id="bk_bg" class="bk_bg" onclick="shutAdminForm()"></div>

<div class="create_w" id="form_admin">

    <form name="form_admin">
        <div class="create_t">
            <div class="create_t_t">관리자 계정 생성</div>
            <div class="create_t_bt" onclick="shutAdminForm()">닫기</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="create_txt">아이디</div>
        <input type="text" name="id" class="ipt_create_txt" placeholder="사용하실 아이디 입력" />

        <div class="create_txt">패스워드</div>
        <input type="password" name="password" class="ipt_create_txt" placeholder="사용하실 패스워드 입력" />

        <div class="create_txt">이름</div>
        <input type="text" name="name" class="ipt_create_txt" placeholder="이름 입력" />

        <div class="create_b">
            <div class="create_b_bt_s" onclick="goAdminForm()">등록</div>
            <div class="create_b_bt" onclick="shutAdminForm()">취소</div>
            <div class="clear"></div>
        </div>

    </form>
</div>

<div class="cont_w">
	<div class="cont_t">관리자 계정 관리</div>
	<div class="clear"></div>


    <div class="cont_search">
        <div class="search_compo">
            <input type="text" class="ipt_type_1" placeholder="검색어를 입력하세요." />
            <div class="bt_lef_type_1">검색</div>
            <div class="clear"></div>
        </div>
        <div class="bt_rig_type_1" onclick="showAdminForm()">관리자 계정 생성</div>
        <div class="clear"></div>
    </div>


	<div class="bbs_t">
		<div class="td5">No</div>
		<div class="td15">아이디</div>
		<div class="td15">이름</div>
        <div class="td15">생성일</div>
		<div class="td5">보기</div>
		<div class="clear"></div>
	</div>

<% list.forEach(ls => { %>
    <div class="bbs_c">
		<div class="td5"><%= ls.num %></div>
		<div class="td15"><%= ls.id %></div>
        <div class="td15"><%= ls.name %></div>
		<div class="td15"><%= ls.createdAt %></div>
		<div class="td5">보기</div>
		<div class="clear"></div>
	</div>
<% }); %>

</div>



<%- include('./layouts/footer') %>
