<%- include('./layouts/header') %>

<script>
    function showMailForm(){
        $("div#bk_bg").show();
        $("div#form_mail").show();
    }

    function shutMailForm(){
        $("div#bk_bg").hide();
        $("div#form_mail").hide();
    }

    function goMailForm(){

        // form to json
        var formData= $('form[name=form_mail]').serializeArray();
        var object = {};
        for (var i = 0; i <formData.length; i++){
            object[formData[i]['name']] =formData[i]['value'];
        }
        var json = JSON.stringify(object);

        // submit data
        $.ajax({
            url: "/mail",
            type: "POST",
            dataType: "json",
            data: json,
            contentType: "application/json; charset=UTF-8",
            complete: function(xhr, textStatus) {

                console.log(xhr.responseText);

                if(xhr.responseText == "Insert Mail Successfully"){
                    alert('메일이 생성되었습니다');
                    location.reload();
                }

            }
        });
    }



    function deleteMail(mail){
        var conque = confirm("삭제하시겠습니까?");

        if(conque == false){
            return;
        }

        // form to json
        var formData= $('form[name=form_mail_'+mail+']').serializeArray();
        var object = {};
        for (var i = 0; i <formData.length; i++){
            object[formData[i]['name']] =formData[i]['value'];
        }
        var json = JSON.stringify(object);

        // submit data
        $.ajax({
            url: "/mail",
            type: "DELETE",
            dataType: "json",
            data: json,
            contentType: "application/json; charset=UTF-8",
            complete: function(xhr, textStatus) {

                console.log(xhr.responseText);

                if(xhr.responseText == "delete Mail Successfully"){
                    alert('메일이 삭제되었습니다');
                    location.reload();
                }

            }
        }); 
    }


</script>

<div id="bk_bg" class="bk_bg" onclick="shutMailForm()"></div>

<div class="create_w" id="form_mail">

    <form name="form_mail">
        <div class="create_t">
            <div class="create_t_t">메일 생성</div>
            <div class="create_t_bt" onclick="shutMailForm()">닫기</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="create_txt">스케줄 이름</div>
        <input type="text" name="name" class="ipt_create_txt" placeholder="스케줄 이름 입력" />

        <div class="create_txt">개방 레벨</div>
        <input type="number" name="req_level" class="ipt_create_txt" />

        <div class="create_txt">개방 비용</div>
        <input type="number" name="req_ruby" class="ipt_create_txt" />

        <div class="create_txt">요구 EXP</div>
        <input type="number" name="req_exp" class="ipt_create_txt" />

        <div class="create_txt">소요시간(분)</div>
        <input type="number" name="req_time" class="ipt_create_txt" />

        <div class="create_txt">보상 인기도</div>
        <input type="number" name="reward_popular" class="ipt_create_txt" />

        <div class="create_txt">보상 경험치</div>
        <input type="number" name="reward_exp" class="ipt_create_txt" />

        <div class="create_txt">보상 매력도</div>
        <input type="number" name="reward_attract" class="ipt_create_txt" />

        <div class="create_txt">보상 루비</div>
        <input type="number" name="reward_ruby" class="ipt_create_txt" />

        <div class="create_b">
            <div class="create_b_bt_s" onclick="goScheduleForm()">등록</div>
            <div class="create_b_bt" onclick="shutScheduleForm()">취소</div>
            <div class="clear"></div>
        </div>

    </form>
</div>

<div class="cont_w">
	<div class="cont_t">메일 관리</div>
	<div class="clear"></div>


    <div class="cont_search">
        <div class="search_compo">
            <input type="text" class="ipt_type_1" placeholder="검색어를 입력하세요." />
            <div class="bt_lef_type_1">검색</div>
            <div class="clear"></div>
        </div>
        <div class="bt_rig_type_1" onclick="showScheduleForm()">메일 생성</div>
        <div class="clear"></div>
    </div>


	<div class="bbs_t">
		<div class="td5">No</div>
		<div class="td10">보낸사람</div>
		<div class="td10">받는사람</div>
        <div class="td20">제목</div>
        <div class="td20">보낸 날짜</div>
		<div class="td5">읽음</div>
        <div class="td5">삭제</div>
		<div class="clear"></div>
	</div>

<% list.forEach(ls => { %>
    <form name="form_mail_<%=ls.id%>" id="form_mail_<%=ls.id%>" method="post">
    <input type="hidden" name="id" value="<%= ls.id %>" />
    <div class="bbs_c">
		<div class="td5"><%= ls.id %></div>
		<div class="td10"><%= ls.sender_name %></div>
        <div class="td10"><%= ls.receiver_name %></div>
        <div class="td20"><%= ls.title %></div>
        <div class="td20"><%= ls.sent_date %></div>
        <div class="td5"><%= ls.is_read %></div>
        <div class="td5" onclick="deleteMail(<%= ls.id %>)">삭제</div>		
        <div class="clear"></div>
	</div>
    </form>
<% }); %>

</div>



<%- include('./layouts/footer', {now_loc : now_loc}) %>
