<%- include('./layouts/header') %>

<script>

    function searchUser(){
        alert('준비 중입니다.');
    }

    function showUserForm(){
        $("div#bk_bg").show();
        $("div#form_user").show();
    }

    function shutUserForm(){
        $("div#bk_bg").hide();
        $("div#form_user").hide();
    }

    function goUserForm(){

        // form to json
        var formData= $('form[name=form_user]').serializeArray();
        var object = {};
        for (var i = 0; i <formData.length; i++){
            object[formData[i]['name']] =formData[i]['value'];
        }
        var json = JSON.stringify(object);

        // submit data
        $.ajax({
            url: "/user",
            type: "POST",
            dataType: "json",
            data: json,
            contentType: "application/json; charset=UTF-8",
            complete: function(xhr, textStatus) {
                if(xhr.responseText == "Insert User Successfully"){
                    alert('회원계정이 생성되었습니다');
                    location.reload();
                }
            }
        });

    }
</script>

<div id="bk_bg" class="bk_bg" onclick="shutUserForm()"></div>

<div class="create_w" id="form_user">

    <form action="/user" name="form_user" method="post" enctype="multipart/form-data">
        <div class="create_t">
            <div class="create_t_t">회원(회사)계정 생성</div>
            <div class="create_t_bt" onclick="shutUserForm()">닫기</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="create_txt">로그인 아이디</div>
        <input type="text" name="id" class="ipt_create_txt" placeholder="아이디 입력" />

        <div class="create_txt">패스워드</div>
        <input type="password" name="password" class="ipt_create_txt" placeholder="패스워드 입력" />

        <div class="create_txt">이메일</div>
        <input type="text" name="email" class="ipt_create_txt" placeholder="이메일 주소 입력" />

        <div class="create_txt">이름</div>
        <input type="text" name="name" class="ipt_create_txt" placeholder="이름 입력" />

        <div class="create_txt">닉네임</div>
        <input type="text" name="nickname" class="ipt_create_txt" placeholder="닉네임 입력" />

        <div class="create_txt">주소</div>
        <input type="text" name="address" class="ipt_create_txt" placeholder="주소 입력" />

        <div class="create_b">
            <div class="create_b_bt_s" onclick="goUserForm()">등록</div>
            <div class="create_b_bt" onclick="shutUserForm()">취소</div>
            <div class="clear"></div>
        </div>

    </form>
</div>

<div class="cont_w">
	<div class="cont_t">회원(회사) 관리</div>
	<div class="clear"></div>


    <div class="cont_search">
        <div class="search_compo">
            <input type="text" class="ipt_type_1" placeholder="검색어를 입력하세요." />
            <div class="bt_lef_type_1" onclick="searchUser()">검색</div>
            <div class="clear"></div>
        </div>
        <!--<div class="bt_rig_type_1" onclick="showUserForm()">회원생성</div>-->
        <div class="clear"></div>
    </div>


	<div class="bbs_t">
		<div class="td5">No</div>
		<div class="td10">Ailey_id</div>
		<div class="td15">회사이름</div>
        <div class="td10">루비</div>
        <div class="td10">레벨</div>
        <div class="td10">EXP</div>
        <div class="td10">매력도</div>
        <div class="td10">인기도</div>
		<div class="td15">회원가입일</div>
		<div class="td5">보기</div>
		<div class="clear"></div>
	</div>

<% list.forEach(ls => { %>
    <div class="bbs_c">
		<div class="td5"><%= ls.num %></div>
		<div class="td10"><%= ls.ailey_id %>&nbsp;</div>
		<div class="td15"><%= ls.name %>&nbsp;</div>
        <div class="td10"><%= ls.ruby %>&nbsp;</div>
		<div class="td10"><%= ls.level %>&nbsp;</div>
		<div class="td10"><%= ls.exp %>&nbsp;</div>
		<div class="td10"><%= ls.attractive %>&nbsp;</div>
		<div class="td10"><%= ls.popular %>&nbsp;</div>
		<div class="td15"><%= ls.createdAt %>&nbsp;</div>
        <div class="td5">보기</div>
		<div class="clear"></div>
	</div>
<% }); %>

</div>



<%- include('./layouts/footer', {now_loc : now_loc}) %>
